@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}

body {
    font-family: "Roboto";
    margin: 0;
}

nav li {
    list-style: none;
    font-size: medium;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.main-logo {
    width: 50%;
}

.survivor {
    max-width: 60%;
    margin: 3rem auto;
    text-align: center;
}

.button {
    background-color: red;
    color: white;
    padding: 2px;
}

input {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5%;
}


.card {
    width: 25%;
    background-color: #303030;
    color: white;
    padding-bottom: 5%;

}

img {
    width: 100%;
}

h2 {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.subscribe {
    background-color: #303030;
    color: white;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 2%;
    margin-top: 5%;
}


.email {
    background-color: white;
    color: #303030;
}

.footer {
    width: 100%;
    background-color: black;

    display: flex;
    justify-content: space-between;
}

img {
    width: 10%;
    height: 10%;
}

li {
    color: white;
    list-style: none;
}

ul {
    gap: 3px;
    font-size: small;
}