@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}

body {
    font-family: "Roboto";
}

nav li {
    list-style: none;
    font-size: medium;
}


a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#banner {
    width: 100%;
}